*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(imagee.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
}
#form{
    background-color: #50554d;
    height:500px;
    width:800px;
    margin: auto;
    margin-top: 100px;
    opacity:0.7;
    border-radius: 15px;
    border-bottom: 3px solid aqua;
    border-right:  3px solid aqua;
}
#first-group{
    border:none;
    width:400px;
    margin-top: 38px;
    position: absolute;
}
#content{
    border: 1px solid #fff;
    margin:10px;
    margin-left: 8px;
    padding:5px;
}

#content .input{
    border:none;
    outline:none;
    background: transparent;
    margin-left:8px;
    width:300px;
    color:#fff;
}
::placeholder{
    color:#fff;
}
.fa{
    display:inline-block;
    color:rgb(236, 25, 25);
    border-right:1px solid #fff;
    padding:8px;
    margin-left: 8px;
}
#second-group{
    border:none;
    width:400px;
    margin-top: 55px;
    margin-left:400px;
}
.submit-btn{
    display: flex;
}
.button-type{
    text-align: center;
}
.button{
    margin: 30px 5px 30px 5px;
    color:black;
    background-color: aqua;
    width:150px;
    border-radius: 5px 15px;
    border:1px solid black;
    outline:none;
    padding:10px;
    font-size: 20px;
}
#header{
    padding-top: 15px;
    padding-bottom: -15px;
}