*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(image.jpg);
    height: 100%;
    width: 100%;
    opacity:0.9;
    background-position: center;

}

h3{
    text-align: center;
    text-decoration: underline;
    color: rgb(2, 117, 166);
}

.container{
    width: 400px;
    height: 600px;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
                0 5px 12px -2px rgba(0, 0, 0, 0.1),
                0 18px 36px -6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.container .title{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container form input{
    display: none;
}

.container form .category{
    margin-top: 10px;
    padding-top: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.category label{
    /* width: 100%; */
    /* height: 65px; */
    height: 145px;
    padding: 20px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

/* label:nth-child(2), label:nth-child(3){
    margin: 15px 0;
} */


#visa:checked ~ .category .visaMethod,
#Patym:checked ~ .category .PatymMethod,
#paypal:checked ~ .category .paypalMethod,
#GPay:checked ~ .category .PayPalMethod{
    box-shadow: 0px 0px 0px 1px #6064b6;
}


#visa:checked ~ .category .visaMethod .check,
#Patym:checked ~ .category .PatymMethod .check,
#paypal:checked ~ .category .paypalMethod .check,
#GPay:checked ~ .category .PayPalMethod .check{
    display: block;
}


label .imgName{
    display: flex;
    /* justify-content: space-between;
     */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.imgName span{
    /* margin-left: 20px; */
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    top: 72%;
    transform: translateY(-72%);
}

.imgName .imgContainer{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 35%;
    transform: translateY(-35%);
}

img{
    width: 50px;
    height: auto;
}

.visa img{
    width: 80px;
    /* margin-left: 5px; */
}

.Patym img{
    width: 65px;
}

.paypal img{
    width: 80px;
}

.GPay img{
    width: 50px;
}

.check{
    display: none;
    position: absolute;
    top: -4px;
    right: -4px;
}

.check i{
    font-size: 18px;
}

#output{
    height: 80px;
    /* border: 1px solid #6064b6; */
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 20px ;
    margin-top: 25px;
}

#button{
    text-align: center;
    margin-top: 23px;
}
button{
    height: 30px;
    width: 80px;
    color: white;
    border-radius: 5px;
    background-color: rgb(89, 151, 232);
}